<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<form method='get' action='hello' >
    <input type='text' name='name'>
    <select name='language' id='language-select'>
    <option value='english'>English</option>
    <option value='spanish'>Spanish</option>
    <option value='french'>French</option>
    <option value='german'>German</option>
    <option value='italian'>Italian</option>
    </select>
    <input type='submit' value='Greet Me!'>
    </form>
</body>
</html>